{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" >
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" href="{% static '/fonts/simple-line-icons.css' %}">
    <!-- Slicknav -->
    <link rel="stylesheet" href="{% static '/css/slicknav.css' %}">
    <!-- Menu CSS -->
    <link rel="stylesheet" href="{% static '/css/menu_sideslide.css' %}">
    <!-- Slider CSS -->
    <link rel="stylesheet" href="{% static '/css/slide-style.css' %}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" href="{% static '/css/nivo-lightbox.css' %}" >
    <!-- Animate -->
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <!-- Main Style -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <title>Ini website Qra</title>
    {% endblock %}
</head>
<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <a href="#hero-area" class="navbar-brand"><img src="/static/img/logobaru.jpg" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item">
              <a class="nav-link" href="/">
                HOME
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about">
                ABOUT
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journey/">
                JOURNEY
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/recommendations/">
                RECOMMENDATIONS
              </a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contact">
                CONTACT
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="/story1/">
                STORY 1
              </a>
            </li> -->
            <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" href="/kuliah/">
                  COLLEGE
                </a>
              </li>
              <li class="nav-item">
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="onepage-nev mobile-menu">
        <li>
          <a href="#home">HOME</a>
        </li>
        <li>
          <a href="#about">ABOUT</a>
        </li>
        <li>
          <a href="/journey/">JOURNEY</a>
        </li>
        <li>
          <a href="/recommendations/">RECOMMENDATIONS</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
        <!-- <li>
          <a href="/story1/">STORY 1</a>
        </li>
        <li> -->
          <a href="/kuliah/">COLLEGE</a>
        </li>

      </ul>
      <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->
    {% block content %}{% endblock %}

    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.mixitup.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/jquery.nav.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>  
    <script src="/static/js/nivo-lightbox.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.min.js"></script>
    <script src="/static/js/map.js"></script>
    {% block javascript %}{% endblock %}
      
  </body>
</html>